HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Python Virtual Environment
venv/
venv

### Application Profiles (sensitive data) ###
application-local.yml
application-dev.yml
application-prod.yml


leagues.csv
male_players.csv
match_records_3m_uniform.csv
clubs.csv
nationalities.csv
players_24_season.csv
players_final_100k.csv
*.csv